@use "../../styles/_media_queries";

.form_header {
	grid-row: 1;
	grid-column: 1;
	font-size: 20px;
}

.modal_form_section {
	position: relative;
	padding: 20px;
	display: grid;
	grid-template-rows: auto auto auto auto;
	width: auto;
	height: auto;
	background-color: #ffffff;
	border-radius: 25px;
	text-align: center;

	@media #{media_queries.$mobile} {
		width: min(77vw, 400px);
	}

	@media #{media_queries.$desktop} {
		width: min(25vw, 800px);
	}
}

.close_btn {
	display: inline;
	position: absolute;
	top: 6px;
	right: 7px;

	&:hover {
		fill: #57779e;
	}
}

.modal_form__form {
	margin: 3px 5px 0 5px;
	grid-row: 3;
	text-align: center;
	display: grid;
	grid-template-rows: auto auto auto auto;
}

.field_container {
	display: grid;
	grid-template-rows: auto 0px auto;
}

.field_container__p {
	text-align: left;
	grid-row: 1;
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 20px;
}

.field_container__input {
	grid-row: 3;
	padding-left: 7px;
	padding-right: 7px;
	border: none;
	border-bottom: 3px solid #5f8393;
	font-size: 18px;
	font-weight: 500;
	vertical-align: bottom;
	text-align: bottom;
	box-sizing: content-box;

	color: #5f8393;

	&::placeholder {
		color: #727773;
	}

	&:focus {
		outline: none;
	}
}

.submit_button {
	color: white;
	background-color: #5f8393;
	border: none;
	border-radius: 10px;
	height: 40px;
	margin: 60px 5px 0 5px;

	&:hover {
		background-color: #334e5cf2;
	}
}

.input_error {
	border-bottom: 3px solid red;
}
