@use "../../styles/_media_queries";

.list_element_container {
	background-color: #577c8e;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom: 5px;

	@media #{media_queries.$mobile} {
		height: 50px;
	}

	@media #{media_queries.$desktop} {
		height: 100px;
	}

	@media #{media_queries.$desktop_small} {
		height: 75px;
	}
}

.list_element {
	height: inherit;
	width: inherit;
	display: grid;

	align-items: center;
	background-color: #c7d9e5;

	position: relative;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	@media #{media_queries.$mobile} {
		grid-template-columns: auto 1fr auto 4px auto;
		margin-right: 5px;
		padding: 0 5px 0 15px;
	}

	@media #{media_queries.$desktop} {
		grid-template-columns: auto 1fr auto 20px auto;
		margin-right: 10px;
		padding: 0 15px 0 30px;
	}

	@media #{media_queries.$desktop_small} {
		grid-template-columns: auto 1fr auto 10px auto;
	}
}

.list_element__sum {
	grid-column: 1;
	user-select: none;
	grid-row: 1;

	color: #2f4157;

	@media #{media_queries.$mobile} {
		font-size: 16px;
	}

	@media #{media_queries.$desktop} {
		font-size: 35px;
	}

	@media #{media_queries.$desktop_small} {
		font-size: 25px;
	}
}

.list_element__date {
	grid-column: 3;
	user-select: none;
	grid-row: 1;
	color: #577c8e;

	@media #{media_queries.$mobile} {
		font-size: 14px;
	}

	@media #{media_queries.$desktop} {
		font-size: 30px;
	}

	@media #{media_queries.$desktop_small} {
		font-size: 23px;
	}
}

.list_element__time {
	grid-column: 5;
	user-select: none;
	grid-row: 1;
	color: #577c8e;
	font-size: 30px;

	@media #{media_queries.$mobile} {
		font-size: 14px;
	}

	@media #{media_queries.$desktop} {
		font-size: 30px;
	}

	@media #{media_queries.$desktop_small} {
		font-size: 23px;
	}
}

.delete_swipe_indicator {
	position: relative;
	display: inline-flex;
	justify-self: end;
	grid-row: 1;
	grid-column: 5;

	@media #{media_queries.$mobile} {
		right: -40px;
		width: 25px;
		height: 30px;
	}

	@media #{media_queries.$desktop} {
		right: -100px;
		width: 60px;
		height: 68px;
	}
}
